<style>
.about-us__wrapper {
  background: url(https://bbeauty.vtexassets.com/assets/vtex/assets-builder/bbeauty.store-theme/1.7.66/img/miscs/product-misc-left___a58d5ff….svg)
      no-repeat scroll -8% 60%/15%,
    url(https://bbeauty.vtexassets.com/assets/vtex/assets-builder/bbeauty.store-theme/1.7.66/img/miscs/product-misc-left___a58d5ff….svg)
      no-repeat scroll -8% 20%/15%,
    url(https://bbeauty.vtexassets.com/assets/vtex/assets-builder/bbeauty.store-theme/1.7.66/img/miscs/product-misc-right___5aebeea….svg)
      no-repeat scroll 105% 35%/14%,
    url(https://bbeauty.vtexassets.com/assets/vtex/assets-builder/bbeauty.store-theme/1.7.66/img/miscs/product-misc-right___5aebeea….svg)
      no-repeat scroll 110% 80%/25% #f7f7f7;
}
.about-us__wrapper .about-us__container {
  padding-top: 60px;
}
.about-us__wrapper .about-us__container .about-us__section {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.about-us__wrapper
  .about-us__container
  .about-us__section
  .about-us__sectionContent {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-us__wrapper
  .about-us__container
  .about-us__section
  .about-us__sectionContent
  .about-us__verticalText {
  display: flex;
  flex-direction: column;
}
.about-us__wrapper
  .about-us__container
  .about-us__section
  .about-us__sectionHeading {
  font-size: 40px;
  line-height: 1.2;
  margin: 0 0 10px 0;
  font-weight: 600;
}
.about-us__wrapper
  .about-us__container
  .about-us__section
  .about-us__sectionBodyText {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  font-weight: 400;
  color: #17433e;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__imageContainer {
  width: 50%;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__imageContainer
  .section-1__image {
  width: 100%;
  max-width: 420px;
  height: auto;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .section-1__imageContainer--mobile
  .section-1__image {
  width: 100%;
  max-width: 420px;
  height: auto;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText {
  display: flex;
  flex-direction: column;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .about-us__sectionHeading {
  color: #fcbb62;
  font-size: 40px;
  font-weight: 600;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .section-1__bodyText--1,
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .section-1__bodyText--2 {
  color: #fcbb62;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: #fff;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .section-1__bodyText--1 {
  font-weight: 700;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText.section-1__verticalText--1 {
  padding-bottom: 50px;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText.section-1__verticalText--1::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  border-bottom: 1px solid #fcbb62;
  margin-top: 50px;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .section-1__heading--2 {
  color: #fcbb62;
  font-weight: 600;
}
.about-us__wrapper
  .about-us__container
  .section-1__wrapper
  .section-1__content
  .about-us__verticalText
  .section-1__bodyText--3 {
  color: #17433e;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .about-us__wrapper .about-us__container .section-1__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-us__wrapper
    .about-us__container
    .section-1__wrapper
    .section-1__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-us__wrapper
    .about-us__container
    .section-1__wrapper
    .section-1__content
    .section-1__verticalText--1 {
    width: 100%;
  }
  .about-us__wrapper
    .about-us__container
    .section-1__wrapper
    .section-1__content
    .section-1__verticalText--1::after {
    width: 90% !important;
    margin: 0 auto;
  }
  .about-us__wrapper
    .about-us__container
    .section-1__wrapper
    .section-1__content
    .section-1__verticalText--2 {
    width: 100%;
    margin-bottom: 30px;
  }
}
.about-us__wrapper .about-us__container .section-2__wrapper {
  display: flex;
  flex-direction: row;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--1 {
  width: 50%;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--1
  .section-2__image--1 {
  width: 400px;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--1
  .section-2__verticalText--1
  .section-2__heading--1 {
  color: #fcbb62;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--1
  .section-2__verticalText--1
  .section-2__bodyText--1 {
  color: #17433e;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--2 {
  width: 50%;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--2
  .section-2__image--2 {
  width: 400px;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--2
  .section-2__verticalText--2
  .section-2__heading--2 {
  color: #fcbb62;
}
.about-us__wrapper
  .about-us__container
  .section-2__wrapper
  .section-2__content--2
  .section-2__verticalText--2
  .section-2__bodyText--2 {
  color: #17433e;
}
@media screen and (max-width: 768px) {
  .about-us__wrapper .about-us__container .section-2__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .about-us__wrapper
    .about-us__container
    .section-2__wrapper
    .section-2__content--1,
  .about-us__wrapper
    .about-us__container
    .section-2__wrapper
    .section-2__content--2 {
    width: 100% !important;
  }
  .about-us__wrapper
    .about-us__container
    .section-2__wrapper
    .section-2__content--1 {
    flex-direction: column-reverse !important;
  }
  .about-us__wrapper
    .about-us__container
    .section-2__wrapper
    .section-2__content--1
    .section-2__verticalText--1 {
    margin-bottom: 30px;
  }
  .about-us__wrapper
    .about-us__container
    .section-2__wrapper
    .about-us__sectionImage {
    width: 210px !important;
    margin: 0 auto;
  }
}
.about-us__wrapper .about-us__container .section-3__wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__heading--1 {
  color: #fcbb62;
  font-size: 30px;
  font-weight: 600;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--2
  strong {
  font-weight: 600;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__highlightWord--1 {
  color: #fcbb62;
  font-size: 40px;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__highlightWord--2 {
  color: #ff7564;
  font-size: 40px;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__highlightWord--3 {
  color: #fcbb62;
  font-size: 40px;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--1 {
  margin: 0 0 #fff 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--2 {
  margin: 0 0 #fff 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--3 {
  margin: 30px 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--4 {
  margin: 30px 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--5 {
  margin: 30px 0;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--7 {
  color: #fcbb62;
  font-size: 30px;
  margin-top: #fff;
}
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--7
  .section-3__bodyText--7--highlight,
.about-us__wrapper
  .about-us__container
  .section-3__wrapper
  .section-3__bodyText--7
  strong {
  color: #fcbb62;
  font-weight: 600;
}

    
</style>
<div class="about-us__wrapper">
  <div class="about-us__container container">
    <section class="about-us__section section-1__wrapper">
      <div class="about-us__sectionImageContainer section-1__imageContainer">
        <img class="about-us__sectionImage section-1__image" src="assets/img/about-us/about-1.png" alt="Hero" />
      </div>
      <div class="about-us__sectionContent section-1__content">
        <div class="about-us__verticalText section-1__verticalText--1">
          <h5 class="about-us__sectionHeading section-1__heading--1">Quem somos</h5>
          <p class="about-us__sectionBodyText section-1__bodyText--1">
            Bem-vindos ao Brasil de tantas riquezas,
            alegrias e maravilhas.
          </p>
          <p class="about-us__sectionBodyText section-1__bodyText--2">
            Somos uma empresa de bem-estar e saúde brasileiríssima,
            otimista e apaixonada pela vida.
          </p>
        </div>

        <div class="about-us__sectionImageContainer section-1__imageContainer--mobile">
          <img class="about-us__sectionImage section-1__image" src="assets/img/about-us/about-4-m.png" alt="4" />
        </div>

        <div class="about-us__verticalText section-1__verticalText--2">
          <h5 class="about-us__sectionHeading section-1__heading--2">Missão</h5>
          <p class="about-us__sectionBodyText section-1__bodyText--3">
            Vamos espalhar a felicidade, o estilo de vida do
            brasileiro e mostrar ao mundo a importância da
            Natureza brasileira que é exuberante, curativa e de uma beleza única através das nossas marcas.
          </p>
        </div>
      </div>
    </section>

    <section class="about-us__section section-2__wrapper">
      <div class="about-us__sectionContent section-2__content--1">
        <div class="about-us__verticalText section-2__verticalText--1">
          <h5 class="about-us__sectionHeading section-2__heading--1">Visão</h5>
          <p class="about-us__sectionBodyText section-2__bodyText--1">Queremos levar produtos desenvolvidos
            no Brasil e inspirados no estilo de vida do
            brasileiro para o mundo.
          </p>
        </div>
        <div class="about-us__sectionImageContainer section-2__imageContainer--1">
          <img class="about-us__sectionImage section-2__image--1" src="assets/img/about-us/about-3.png" alt="3" />
        </div>
      </div>
      <div class="about-us__sectionContent section-2__content--2">
        <div class="about-us__sectionImageContainer section-2__imageContainer--2">
          <img class="about-us__sectionImage section-2__image--2" src="assets/img/about-us/about-2.png" alt="2" />
        </div>
        <div class="about-us__verticalText section-2__verticalText--2">
          <h5 class="about-us__sectionHeading section-2__heading--2">Valores</h5>
          <p class="about-us__sectionBodyText section-2__bodyText--2">Contribuímos com a preservação da Natureza
            brasileira. Investimos em tecnologia e soluções
            inovadoras de alta eficiência para entregar
            produtos diferenciados e sensoriais.
          </p>
        </div>
      </div>
    </section>

    <section class="about-us__section section-3__wrapper">
      <p class="about-us__sectionBodyText section-3__bodyText--1">
        Buscamos parcerias para levar a melhor experiencia para os nossos clientes.<br>
        Respeitamos a individualidade de cada pessoa.
      </p>

      <h5 class="about-us__sectionHeading section-3__heading--1">
        Nossa inspiração? É a vocação do brasileiro em ser feliz!
      </h5>

      <p class="about-us__sectionBodyText section-3__bodyText--1">
        Bonito por natureza! Buscamos estimular o cuidado com o corpo<br>
        com a saúde e qualidade de vida das pessoas inspirados na alegria<br>
        de ser do brasileiro e com o compromisso de respeitar a natureza<br>
      </p>
      <p class="about-us__sectionBodyText section-3__bodyText--2">
        Nossa essência é baseada em 3 pilares: <strong>BRASILIDADE, FELICIDADE, SENSUALIDADE</strong>.
      </p>

      <p class="about-us__sectionBodyText section-3__bodyText--3">
        Para nós, <span class="section-3__highlightWord section-3__highlightWord--1">Brasilidade</span><br>

        é o que somos: brasileiríssimos, otimistas, alegres, apaixonados pela vida e pela natureza exuberante.
      </p>
      <p class="about-us__sectionBodyText section-3__bodyText--4">
        A <span class="section-3__highlightWord section-3__highlightWord--2">Felicidade</span><br>
        está relacionada ao cuidado do corpo e da alma,<br>
        dos momentos reservados para ser feliz e a apreciação do que é bonito para cada pessoa.
      </p>
      <p class="about-us__sectionBodyText section-3__bodyText--5">
        E o resultado é a própria <span class="section-3__highlightWord section-3__highlightWord--3">Sensualidade</span><br>
        que entendemos como o respeito a individualidade<br>
        de cada corpo, para poder celebrar e se divertir com a vida
      </p>
      <p class="about-us__sectionBodyText section-3__bodyText--6">
        Levando o melhor do Brasil. Fazendo o melhor pelo Brasil.
      </p>
      <p class="about-us__sectionBodyText section-3__bodyText--7">
        Muito prazer. Somos a <strong>BeBrasil</strong>.<br>
        <span class="section-3__bodyText--7--highlight">Viva a felicidade brasileira!</span>
      </p>
    </section>
  </div>
</div>
