<style>
  .content-for-layout {
  background-image: url("https://cdn.shopify.com/s/files/1/0548/7306/3510/files/bg-sus.jpg?v=1659034953");
  min-height: 245vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  display: block;
  padding-top: 70px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .view__wrapper {
    background-position: center;
    background-size: unset;
  }
}
.view__wrapper .view__container .view__headTitle {
  color: #fcbb62;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.view__wrapper .view__container .view__sectionContainer {
  width: 100%;
  max-width: 70%;
  margin: 70px auto;
}
@media screen and (max-width: 768px) {
  .view__wrapper .view__container .view__sectionContainer {
    max-width: 100%;
  }
}
.view__wrapper .view__container .view__sectionContainer .view__sectionHeading {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}
.view__wrapper .view__container .view__sectionContainer .view__sectionContent {
  display: flex;
  flex-direction: row;
  position: relative;
}
.view__wrapper
  .view__container
  .view__sectionContainer
  .view__sectionContent
  .view__imageContainer {
  width: 60%;
}
.view__wrapper
  .view__container
  .view__sectionContainer
  .view__sectionContent
  .view__imageContainer
  .view__imageElement {
  display: block;
  position: relative;
  min-width: 160px;
}
.view__wrapper
  .view__container
  .view__sectionContainer
  .view__sectionContent
  .view__sectionText {
  position: relative;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  align-self: center;
}
.view__wrapper
  .view__container
  .view__sectionContainer
  .view__sectionContent
  .view__sectionText::before {
  content: "";
  position: absolute;
  display: block;
  height: 80%;
  border-left: 2px solid #fff;
  left: -5rem;
  top: 1rem;
}
@media screen and (max-width: 768px) {
  .view__wrapper
    .view__container
    .view__sectionContainer
    .view__sectionContent {
    flex-direction: column;
  }
  .view__wrapper
    .view__container
    .view__sectionContainer
    .view__sectionContent
    .view__imageContainer {
    width: 90%;
    margin: 0 auto 1rem auto;
  }
  .view__wrapper
    .view__container
    .view__sectionContainer
    .view__sectionContent
    .view__imageContainer
    .view__imageElement {
    display: block;
    position: relative;
    min-width: 160px;
  }
  .view__wrapper
    .view__container
    .view__sectionContainer
    .view__sectionContent
    .view__sectionText {
    width: 90%;
  }
  .view__wrapper
    .view__container
    .view__sectionContainer
    .view__sectionContent
    .view__sectionText::before {
    display: none;
  }
}
.view__wrapper .view__container .view__sectionContainer .view__highlightText {
  color: #1cc78e;
  font-weight: 700;
  font-size: 22px;
}

</style>
<div class="view__wrapper">
  <div class="view__container container">
    <h2 class="view__headTitle">
      
      Sustentabilidade
    </h2>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Somos uma <span class="view__highlightText">B Corp</span>
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="https://www.sistemabbrasil.org/" target="_blank">
          <img
            alt="sustentabilidade"
            src="https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sust-1.webp?v=1659036215"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          E isso quer dizer muito: empresas B são aquelas que abraçam o compromisso real de
          <span class="view__highlightText">impactar o mundo positivamente</span>,
          atuando de acordo com os mais altos padrões ambientais e sociais em todas as suas operações de ponta a ponta.
          Estamos na categoria pendente porque possuímos menos de um ano de atividade.
          No próximo ciclo, conquistaremos o selo definitivo.
        </p>
      </div>
    </section>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Cuidar da <span class="view__highlightText">Amazônia</span> é nossa missão
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="https://amazoniacare.org/" target="_blank">
          <img
            alt="sustentabilidade"
            src= "https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sus-2.webp?v=1659036039"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          Acreditamos no poder curativo e
          transformador da natureza brasileira e, mais do que isso, nos nutrimos dele!
          Por isso, já nascemos com o selo Amazônia Care, que impulsiona iniciativas inovadoras e vitais para a nossa floresta.
          Ao comprar um de nossos produtos, você contribui diretamente com essa causa, ajudando a viabilizar financeiramente projetos que criam um círculo positivo entre o homem,
          sua subsistência e o meio ambiente.
        </p>
      </div>
    </section>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Produtos <span class="view__highlightText">veganos</span>
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="https://svb.org.br/" target="_blank">
          <img
            alt="sustentabilidade"
            src= "https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sus-3.webp?v=1659036046"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          Chegamos ao mercado com as linhas BeBeauty e BeEssential,
          livre de testes em animais e formuladas com ingredientes 100% vegetais.
          Nosso compromisso é confirmado pela certificação de produto vegano da Sociedade Vegetariana Brasileira.
        </p>
      </div>
    </section>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Apostamos no <span class="view__highlightText">bioplástico</span>
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="http://plasticoverde.braskem.com.br/site.aspx/plasticoverde" target="_blank">
          <img
            alt="sustentabilidade"
            src="https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sus-4.webp?v=1659036057"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          Nossas embalagens plásticas são produzidas com pelo menos 50% de plástico verde, por isso contamos com o selo
          <span class="view__highlightText">I'm Green</span>.
          Feito de cana-de-açúcar, o plástico verde tem origem totalmente renovável, é 100% vegetal e 100% reciclável.
        </p>
      </div>
    </section>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Logística reversa? Temos, com certeza!
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="https://www.eureciclo.com.br/" target="_blank">
          <img
            alt="sustentabilidade"
            src="https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sus-5.webp?v=1659036086"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          Quando o assunto é o destino de nossas embalagens,
          vamos além da legislação e assumimos o compromisso de reciclar um volume equivalente
          a <span class="view__highlightText">*100% do material</span> que colocamos no mercado.
          Para isso, contamos com a parceria da EuReciclo.
        </p>
      </div>
    </section>

    <section class="view__sectionContainer">
      <h5 class="view__sectionHeading">
        Apoiamos o <span class="view__highlightText">desenvolvimento sustentável</span>
      </h5>
      <div class="view__sectionContent">
        <a class="view__imageContainer" href="https://www.unglobalcompact.org/" target="_blank">
          <img
            alt="sustentabilidade"
            src="https://cdn.shopify.com/s/files/1/0548/7306/3510/files/sus-6.png?v=1659036205"
            class="view__imageElement"
          >
        </a>
        <p class="view__sectionText">
          Nós nascemos com o propósito de fazer mais para o mundo e, para isso,
          alinhamos toda a nossa operação com os dez princípios universais de direitos humanos, trabalho, meio ambiente e anticorrupção.
          O resultado foi o reconhecimento internacional pelo Pacto Global da ONU
          de que somos uma empresa que apoia e promove objetivos sociais amplos e o desenvolvimento sustentável.
        </p>
      </div>
    </section>
  </div>
</div>
