.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.2rem solid rgba(var(--color-foreground), 0.2) !important;

}
.accordion:nth-child(7) {
  border-bottom: 0.2rem solid rgba(var(--color-foreground), 0.2) !important; 
}
.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .summary__title::after{
    content: "-";
  position: absolute;
  right: 15px;
  top: calc(50%-15px);
}
*:not(open) .product__accordion .summary__title::after{
  content: "+";
  position: absolute;
  right: 15px;
  top: calc(50%-15px);
}
.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
